/* common style */
* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.btn-primary {
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* header section */
header {
    height: 700px;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
}

.header-title {
    color: #272727;
    /* font-family: Lato; */
    font-size: 80px;
    margin-bottom: 20px;
}

.header-para {

    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding: 20px 0px;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header-pic {
    width: 500px;
    height: 650px;
    margin-top: 50px;
}

/* main section */

/* out featured section */
.featured {
    color: #272727;
    text-align: center;
    font-size: 30px;
}

.featured-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    width: 594px;
    margin: auto;
    padding-top: 10px;
}

.featured-div {
    margin-top: 100px;
}

/* featured flower section */
.f-flower-img1 {
    width: 160px;
    height: 250px;
    padding-left: 60px;
    padding-top: 59px;
}

.f-flower1 {
    width: 286px;
    height: 310px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.f-flower-back1 {
    color: #272727;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    text-decoration-line: underline;
    padding-top: 15px;
}

.f-flower-img2 {
    width: 190px;
    height: 220px;
    padding-left: 60px;
    padding-top: 58px;
}

.f-flower2 {
    width: 286px;
    height: 310px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.f-flower-back2 {
    color: #272727;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    text-decoration-line: underline;
    padding-top: 45px;
}

.f-flower-img3 {
    width: 190px;
    height: 270px;
    padding-left: 55px;
    padding-top: 40px;
}

.f-flower3 {
    width: 286px;
    height: 310px;
    border-radius: 300px 300px 0px 0px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}



.featured-flower {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 50px;

}

/* optional secton */

.optional {
    width: 980px;
    height: 160px;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
}

.optoin-1 {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.optoinal-icon {
    width: 60px;
}

/* deal section */

.deal-main {
    background: rgba(229, 84, 115, 0.05);
    height: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.deal-right-img {
    width: 165px;
    height: 220px;
}

.btn-deal {
    margin-left: 200px;
    margin-top: 30px;
}

/* insta section */
.insta-img {
    width: 200px;
    height: 230px;
}

.insta-des {
    margin-top: 110px;
    margin-bottom: 40px;
}

.insta-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 78px;
    margin-top: 25px;
}

/* get section */
.bnt-get {
    padding: 20px 25px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    margin-left: 5px;
}

.get-input {
    width: 500px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    margin-left: 50px;
    padding-left: 20px;
    margin-top: 30px;
}

.get-2nd {
    padding-bottom: 40px;

}

.get-section-main {
    background-image: url('./flower-asset/Rectangle\ 9.png');
    background-size: cover;
    width: 1050px;
    height: 270px;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

}

/* review sections */
.review1 {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
     width: 270px;
     height: 280px;
     text-align: center;
     padding-top:30px;
     box-shadow: 4px 4px 4px gray;
}
.review-pic{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    margin-bottom: -20px;
}
.reivew-text{
    color: rgba(39, 39, 39, 0.60);
    padding-top: 20px;
}
.review-icon{
    width: 180px;
    height: 120px;
}
.reivew-name{
    color: rgba(39, 39, 39, 0.9);
    padding-top: 15px;

}
.review-section{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 30px;
}